<p style="text-align:center;">Test ngx-imgclicker</p>

And the light by which she had read the book filled with troubles, falsehoods, 
sorrow, and evil, flared up more brightly than ever before, lighted up for her 
all that had been in darkness, flickered, began to grow dim, and was quenched 
forever.

If someone loves a flower, of which just one single blossom grows in all the 
millions and millions of stars, it is enough to make him happy just to look at
the stars. He can say to himself, "Somewhere, my flower is there…" But if the 
sheep eats the flower, in one moment all his stars will be darkened… And you 
think that is not important!


<img src="https://img95.699pic.com/photo/50046/5562.jpg_wh300.jpg">

Life is full of confusing and disordering Particular time, a particular location, 
Do the arranged thing of ten million time in the brain, Step by step ,the life is 
hard to avoid delicacy and stiffness. No enthusiasm forever, No unexpected happening 
of surprising and pleasing So, only silently ask myself in mind Next happiness, 
when will come?

<ngx-imgclicker [options]="options"></ngx-imgclicker>
<router-outlet></router-outlet>